/* src/styles/Wallet.css */
.header1 {
    width: 100%;
    height: 90px;
    background-color: #2e2e2e;
    color: #f0b429;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 25px;
  }
  
  .navbar1 {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
  }
  
  .navbar3 {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }
  
  .logo {
    text-decoration: none;
  }
  
  .container-wallet {
    width: 800px;
    height: 230px;
    background-color: #625e5e;
    border-radius: 20px;
    position: absolute;
    left: 23%;
    top: 20%;
    padding: 30px;
    color: #f0b429;
  }
  
  .container-wallet:hover {
    background: linear-gradient(to right, gray, rgb(81, 78, 78));
  }
  
  .rupee {
    position: absolute;
    top: 28.5%;
  }
  
  .cash {
    position: absolute;
    left: 30px;
    top: 30px;
  }
  
  .gift {
    width: 140px;
    height: 50px;
    padding: 12.5px;
    border-radius: 50px;
    background-color: #f0b429;
    color: #2e2e2e;
    position: absolute;
    top: 60%;
    cursor: pointer;
  }
  
  .method {
    position: absolute;
    left: 25%;
    top: 55%;
  }
  
  .overlay1 {
    width: 800px;
    height: 35px;
    border: #2e2e2e;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    position: absolute;
    left: 23.5%;
    top: 62.5%;
    padding: 5px;
    background-color: #2e2e2e;
    color: #f0b429;
    cursor: pointer;
  }
  
  .overlay1:hover, .overlay2:hover {
    background-color: #f0b429;
    color: #2e2e2e;
  }
  
  .vocher {
    position: absolute;
    left: 25%;
    top: 70%;
  }
  
  .overlay2 {
    width: 800px;
    height: 35px;
    background-color: #2e2e2e;
    color: #f0b429;
    cursor: pointer;
    border: #2e2e2e;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    position: absolute;
    left: 23.5%;
    top: 75.5%;
    padding: 5px;
  }
  